<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Importer">
        <plugin name="JustBetter_EnvConfigImport::ImporterPlugin" type="JustBetter\EnvConfigImport\Plugin\Config\Model\Config\ImporterPlugin" />
    </type>
    <type name="Magento\Deploy\Model\DeploymentConfig\DataCollector">
        <plugin name="JustBetter_EnvConfigImport::DataCollectorPlugin" type="JustBetter\EnvConfigImport\Plugin\Deploy\Model\DeploymentConfig\DataCollectorPlugin" />
    </type>
    <preference for="Magento\Config\Model\Config\Importer\SaveProcessor" type="JustBetter\EnvConfigImport\Model\Config\Importer\CustomSaveProcessor" />
</config>
